<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>

    <th:block th:fragment="main">
        <main class="main">
            <section class="productos">
                <div class="producto">
                    <img src="https://assets.vans.com/images/t_img/c_fill,g_center,f_auto,h_488,w_390,e_unsharp_mask:100/dpr_2.0/v1745513440/VN000KYJBLK-HERO/Skate-Overnight-Pack.jpg?$PLP-IMAGE"
                        alt="Vans">
                    <h3>Vans Old Skool</h3>
                    <p>$69.99</p>
                    <button>Añadir al carrito</button>
                </div>
            </section>
        </main>
    </th:block>

</body>

</html>