<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>

    <th:block th:fragment="mainContenido">
        <main class="main">
            <div class="carrusel" id="carruselInner">
                <img class="image-slider"
                    src="https://assets.vans.com/image/upload/c_limit,w_1920/q_auto:best,f_auto:image,d_na.png/v1749584980/SP25_LP_Homepage_Hero-1_06122025_Desktop_1440x906_Image">
            </div>

            <div class="primer-div-main">
                <div class="top-styles-div">
                    <button class="PDM-btn">Classic Slip-On</button><br>
                    <button class="PDM-btn">Old Skool</button><br>
                    <button class="PDM-btn">Authentic</button><br>
                    <button class="PDM-btn">Knu Skool</button>
                </div>
                <button class="carrusel-top-style"></button>
            </div>

            <div class="segundo-div-main">
                <h1 class="h1">The Latest</h1>
                <div class="segundo-btn-div">
                    <button class="segundo-div-btn primer-btn-segundo-div"></button>
                    <button class="segundo-div-btn segundo-btn-segundo-div"></button>
                    <button class="segundo-div-btn tercer-btn-segundo-div"></button>
                </div>
            </div>

            <div class="tercer-div-main">
                <h1 class="h1">Celebrate Go Skateboarding Day</h1>
                <div class="tercer-btn-div">
                    <button class="tercer-div-btn primer-btn-tercer-div"></button>
                    <button class="tercer-div-btn segundo-btn-tercer-div"></button>
                    <button class="tercer-div-btn tercer-btn-tercer-div"></button>
                    <button class="tercer-div-btn cuarto-btn-tercer-div"></button>
                    <button class="tercer-div-btn quinto-btn-tercer-div"></button>
                    <button class="tercer-div-btn sexto-btn-tercer-div"></button>
                    <button class="tercer-div-btn septimo-btn-tercer-div"></button>
                    <button class="tercer-div-btn octavo-btn-tercer-div"></button>
                    <button class="tercer-div-btn noveno-btn-tercer-div"></button>
                    <button class="tercer-div-btn decimo-btn-tercer-div"></button>
                </div>
            </div>

            <div class="cuarto-div-main">
                <button class="cuarto-div-main-btn">
                    <img src="https://assets.vans.com/image/upload/c_limit,w_1920/q_auto:best,f_auto:image,d_na.png/v1749584987/SP25_LP_Homepage_LinkedCards-Full-01_06122025_Desktop_1440x601_Image"
                        alt="Banner" />
                </button>
            </div>

            <div class="quinto-div-main">
                <h1 class="h1">Vans Warped Tour Hits</h1>
                <div class="tercer-btn-div">
                    <button class="quinto-div-btn primer-btn-quinto-div"></button>
                    <button class="quinto-div-btn segundo-btn-quinto-div"></button>
                    <button class="quinto-div-btn tercer-btn-quinto-div"></button>
                    <button class="quinto-div-btn cuarto-btn-quinto-div"></button>
                    <button class="quinto-div-btn quinto-btn-quinto-div"></button>
                    <button class="quinto-div-btn sexto-btn-quinto-div"></button>
                    <button class="quinto-div-btn septimo-btn-quinto-div"></button>
                    <button class="quinto-div-btn octavo-btn-quinto-div"></button>
                    <button class="quinto-div-btn noveno-btn-quinto-div"></button>
                    <button class="quinto-div-btn decimo-btn-quinto-div"></button>
                </div>
            </div>

            <div class="sexto-div-main">
                <h1 class="h1">Shop by Category</h1>
                <div class="sexto-btn-div">
                    <button class="sexto-div-btn primer-btn-sexto-div"></button>
                    <button class="sexto-div-btn segundo-btn-sexto-div"></button>
                    <button class="sexto-div-btn tercer-btn-sexto-div"></button>
                </div>
                <button class="cuarto-btn-sexto-div"></button>
            </div>
        </main>
    </th:block>

</body>

</html>